@@charset "UTF-8";
header {
	position: relative;
	height: 50vh;
  background: url(https://github.com/spinel-ryu/portforio/blob/main/resume.png) center / cover;
}

head{
  background-color: #eaf6fd;
}
body{
  background-color: #eaf6fd;
}

h1{
  background-color: #bde3f7;
}
h2{
  background-color: #bde3f7;
}
