@charset "UTF-8";

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.page-link1 li { 
  list-style: none;
  display: inline;
  padding: 30px;
  font-size: 1.25rem;
}

.page-link a {
  color: #bde3f7;
}
.page-link a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}

.resizeimage img {
  height: 300px;
  width: 100%;
}

p {
  line-height: 1.7;
  text-align: justify;
}

.page-head {
  background-color: #eaf6fd;
}

.page-body {
  background-color: #eaf6fd;
}

.heading1 {
  background-color: #bde3f7;
}
.heading2 {
  background-color: #bde3f7;
}
